{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
        <p> {{ car.id  }}</p>
        <p> {{ car.modele  }}</p>
        <p> {{ car.marque  }}</p>
        <p> {{ car.hores  }}</p>

{% endblock %}
