<nav>
    <div class="container">
        <div class="logo">
            <a href="#"><img class='img' src="{{ asset('img/moto.jpg') }}" alt="Symfony!" /></a>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Liste</a></li>
            <li><a href="#">Show</a></li>
            <li><a href="#">Moto</a></li>
        </ul>
    </div>
</nav>