{% extends 'base.html.twig' %}

{% block title %}Hello VoitureController!{% endblock %}

{% block body %}
{% for voiture in voitures %}
    <p>
        Marque: {{ voiture.marque }}
        Modele: {{ voiture.modele }}
        Horses: {{ voiture.hores }}
    </p>
{% endfor %}
{% endblock %}
